{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="">
                
  <section class="relative py-20 bg-red-50">

    <div class="relative container px-4 mx-auto">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full lg:w-1/2 px-6 mb-12 lg:mb-0">
                <div class="max-w-lg">
                    <h2 class="mt-8 mb-6 lg:mb-10 lg:pr-8 text-4xl font-semibold">Comeback Journey</h2>
                    <p class="mb-6 lg:mb-12 text-xl text-gray-500">Program belajar berkelanjutan yang disusun untuk mengarahkan dan mempersiapkan ibu untuk memiliki sumber <b>finansial mandiri dari mimpinya.</b></p>
                    <button onclick="scrollToSection('journeySection')" class="inline-block py-4 px-8 text-sm text-white font-medium leading-normal bg-red-400 hover:bg-red-300 transition duration-200 rounded">Mulai Perjalanan Comeback Ibu</button>
                </div>
            </div>
            <div class="relative w-full lg:w-1/2 px-6">
              <img class="rounded-xl object-cover lg:h-128" src="https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
            </div>
        </div>
    </div>
</section>


            
  <section class="relative py-20">
    <div class="container px-4 mx-auto">
        <div class="max-w-2xl mb-28 mx-auto text-center">
            <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Apa itu program Comeback Journey?</h2>
            <p class="max-w-lg mx-auto text-xl text-gray-500">Rangakaian pembelajaran yang didesain untuk Ibu, selain materi pilihan sesuai dengan penjurusan, Setiap program Ibu akan mendapatkan mentorship dan komunitas sesama Ibu.</p>
        </div>
        <div class="flex flex-wrap -mb-10 lg:-mb-16">
            <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
                <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
                    <h3 class="mb-6 text-2xl font-semibold font-heading">Metode belajar khusus Ibu</h3>
                    <p class="text-gray-500">Belajar dengan metode hybrid dengan materi belajar digital yang diakses mandiri, sesi checkpoint interaktif, diskusi di rumii, dan QnA.</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
              <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
                  <h3 class="mb-6 text-2xl font-semibold font-heading">Komitmen selama 16 Minggu</h3>
                  <p class="text-gray-500">16 minggu program belajar berkelanjutan yang terarah sesuai dengan jurusan yang ibu pilih.</p>
              </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
            <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
                <h3 class="mb-6 text-2xl font-semibold font-heading">Support menyeluruh</h3>
                <p class="text-gray-500">Support dari Tim Ibu Punya Mimpi dan kesempatan mendapat sesi 1v1 (jika memenangkan challange).</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
          <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
              <h3 class="mb-6 text-2xl font-semibold font-heading">Kesempatan Bekerja</h3>
              <p class="text-gray-500">Masuk ke dalam Talent Pool Ibu Punya Mimpi di akhir pembelajaran dan kesempatan bekerja.</p>
          </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
        <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
            <h3 class="mb-6 text-2xl font-semibold font-heading">Bertumbuh secara terukur</h3>
            <p class="text-gray-500">Ibu bisa memantau progres mimpi ibu lewat "Skala Pertumbuhan Ibu".</p>
        </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-3 mb-10 lg:mb-16">
      <div class="relative pb-12 pt-12 px-8 bg-red-50 rounded-lg text-center hover:bg-white hover:shadow-2xl">
          <h3 class="mb-6 text-2xl font-semibold font-heading">Kejar Mimpi dari Rumah</h3>
          <p class="text-gray-500">Mendapatkan bestie baru yang mempunyai mimpi sama, sambil belajar dan mendapatkan kesempatan magang.</p>
      </div>
  </div>
         
      
      
    
        </div>
    </div>
</section>



            


            

            
  <section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex items-center">
        
        <div class="max-w-3xl mx-auto flex flex-wrap items-center">
          <div class="w-full lg:w-2/5 mb-6 lg:mb-0 flex flex-wrap items-center justify-between">
            <div>
              <img class="mb-6 h-14 w-14 rounded-full object-cover object-top" src="https://learning-cdn.ibupunyamimpi.org/media/profile/tiara.jpeg" alt="">
              <p class="mb-2 text-2xl font-semibold font-heading">Tiara Cindy Pritadevi</p>
              <p class="text-gray-500">Alumni Ibu Content Creator Batch 1</p>
            </div>
          </div>
          <div class="w-full lg:w-3/5">
            <p class="text-xl">Awalnya ikutan CJCC buat nambah kegiatan sama skill baru aja, eeeh malah ngebuka banyak peluang baru. Collab sm banyak brand, dapet job dari DANA, dan sekarang jadi tim social media manager akun Instagram seorang business coach dari Swiss dan Women Empowerment Community di US. Terima kasih IPM! ❤️❤️❤️.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex items-center">
        
        <div class="max-w-3xl mx-auto flex flex-wrap items-center">
          <div class="w-full lg:w-2/5 mb-6 lg:mb-0 flex flex-wrap items-center justify-between">
            <div>
              <img class="mb-6 h-14 w-14 rounded-full object-cover object-top" src="https://learning-cdn.ibupunyamimpi.org/media/profile/gina.jpeg" alt="">
              <p class="mb-2 text-2xl font-semibold font-heading">Gina Sabrina</p>
              <p class="text-gray-500">Alumni Ibu Pebisnis</p>
            </div>
          </div>
          <div class="w-full lg:w-3/5">
            <p class="text-xl">Aku mantan CMO yang telah jadi full IRT selama 3 tahun. Ikut CJ Pebisnis bikin aku semangat bangkit lagi dan bangun startupku sendiri, yaitu IBU BERKARYA. Dari modal belajar di CJ Pebisnis ini kini aku jadi semifinalis sebuah kompetisi bisnis dari total 8300 lebih peserta!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
          

  
  <section id="journeySection"></section>

{% if journey %}
  <section class="relative py-20 bg-red-50">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-start -mx-4">
            <div class="relative w-full md:w-1/2 px-6 mb-12 md:mb-0">
                <img class="h-96 lg:h-128 w-full rounded-xl object-cover" src="{{ journey.thumbnail.url}}" alt="">
            </div>
            <div class="relative w-full md:w-1/2 px-6 pb-4 lg:pb-0">
                <div class="lg:ml-auto max-w-md">
                    <h2 class="mb-6 lg:mb-10 text-4xl font-semibold font-heading">{{ journey.title }}</h2>
                    <p class="mb-6 lg:mb-10 text-xl text-gray-500">{{ journey.description|safe }}</p>
                    <div class="my-10 border rounded-lg">
                        <div class="flex p-4 border-b">
                            <h3 class="font-semibold font-heading">Minggu: {{ journey.weeks }}</h3>
                        </div>
                        <div class="flex p-4 border-b">
                            <h3 class="font-semibold font-heading">Jumlah Ibu: {{ journey.cohort_size }} Ibu</h3>
                        </div>
                        <div class="flex p-4 border-b">
                          <h3 class="font-semibold font-heading">Remaining Spots: {{ journey.remaining_spots }} Ibu</h3>
                      </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="pb-20 bg-red-50">
  <div class="flex flex-wrap">
    <!-- Left Side -->
    <div class="w-full md:w-1/2 px-3 my-8 md:my-0">
        <div class="container px-10 mx-auto">
          <!-- Registration Opens -->
          <div class="flex relative pb-10 sm:items-center mx-auto items-center">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-red-400 text-white relative z-10 title-font font-medium text-sm">1</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-center flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-red-100 text-red-400 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Pendaftaran Dibuka</h2>
                <p class="leading-relaxed">{{ journey.signup_start_date }}</p>
              </div>
            </div>
          </div>

          <!-- Registration Ends -->
          <div class="flex relative pb-10 sm:items-center mx-auto items-center">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-red-400 text-white relative z-10 title-font font-medium text-sm">2</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-center flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-red-100 text-red-400 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                  <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg>
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Pendaftaran Ditutup</h2>
                <p class="leading-relaxed">{{ journey.signup_end_date }}</p>
              </div>
            </div>
          </div>

          <!-- The Journey Begins! -->
          <div class="flex relative pb-10 sm:items-center mx-auto items-center">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-red-400 text-white relative z-10 title-font font-medium text-sm">3</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-center flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-red-100 text-red-400 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Mulai Perjalanan!</h2>
                <p class="leading-relaxed">{{ journey.course_start_date }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- Right Side (Red banner) -->
    <div class="w-full md:w-1/3 px-3 flex flex-col justify-center items-center my-8 md:my-0">
      <h3 class="mb-6 lg:mb-10 text-3xl font-semibold font-heading text-center">
          Batch dimulai:
      </h3>
      <div class="bg-red-400 flex items-center justify-center text-white text-2xl font-semibold p-4">
        {{ journey.course_start_date }}
      </div>
    </div>
  </div>
</section>

  {% if registration %}
<section class="pb-20 pt-10 bg-red-50">
  <div class="container px-6 mx-auto">
    <div class="max-w-3xl mx-auto mb-12 lg:mb-12 text-center">
      <h2 class="mt-8 mb-8 text-4xl font-semibold font-heading">Pendaftaran dibuka</h2>
    </div>

    <div class="p-6 lg:p-12 mb-6 border rounded-xl bg-white">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/5 px-4 mb-10 lg:mb-0 self-start">
          <h3 class="text-3xl font-semibold font-heading">Bulanan</h3>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/5 px-4 mb-10 lg:mb-0">
          <ul class="text-base lg:text-lg">
            <li class="flex items-center mb-6">
              <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#f87171"></path>
              </svg>
              <p class="font-medium">Akses Langsung</p>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-2/5 px-4 mb-10 lg:mb-0">
          <div class="flex justify-center mb-2">
          
            <p class="self-end text-3xl font-semibold font-heading">{{ journey.num_monthly_pmts }} x {{ journey.get_monthly_price }}</p>
          </div>
          <p class="text-center lg:text-right text-sm text-gray-500">Bayar per bulan</p>
        </div>
        <div class="w-full lg:w-1/5 px-4 text-center lg:text-right">

          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="pmt_type" value="monthly">
          <button class="block lg:inline-block w-full py-4 lg:px-12 text-sm text-center font-semibold text-white rounded bg-red-400 hover:bg-red-300 transition duration-200">Gabung Sekarang</button>
            </form>
        </div>
      </div>
    </div>
    <div class="p-6 lg:p-12 mb-6 bg-red-400 rounded-xl">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/5 px-4 mb-10 lg:mb-0 self-start">
          <h3 class="text-3xl font-semibold font-heading text-white">Satu-Kali</h3>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/5 px-4 mb-10 lg:mb-0">
          <ul class="text-base lg:text-lg">
            <li class="flex items-center mb-6">
              <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#ffffff"></path>
              </svg>
              <p class="font-medium text-white">Hemat {{ journey.get_format_dsc }}</p>
            </li>
            <li class="flex items-center mb-6">
              <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#ffffff"></path>
              </svg>
              <p class="font-medium text-white">Akses Langsung</p>
            </li>            
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-2/5 px-4 mb-10 lg:mb-0">
          <div class="flex justify-center mb-2">

            <p class="self-end text-3xl font-semibold text-white">{{ journey.get_one_time_price }}</p>
          </div>
        
        </div>
        <div class="w-full lg:w-1/5 px-4 text-center lg:text-right">

          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="pmt_type" value="one-time">
          <button class="block lg:inline-block w-full py-4 lg:px-12 text-sm text-center font-semibold text-red-400 rounded bg-white hover:bg-red-100 transition duration-200">Gabung Sekarang</button>
          </form>

        </div>
      </div>
    </div>
    
  </div>
</section>
  {% else %}
    {% include 'comeback/comeback_waitlist.html' %}
  {% endif %}
{% else %}
  {% include 'comeback/comeback_waitlist.html' %}
{% endif %}







  <section class="py-20">
    <div class="container px-4 mx-auto">
        <div class="max-w-2xl mb-28 mx-auto text-center">
            <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Pertanyaan Ibu</h2>
        </div>
        <div class="max-w-4xl mx-auto">
            <ul class="space-y-8">
                <li class="px-6 py-8 bg-gray-50 rounded-xl">
                    <h3 class="text-2xl font-semibold font-heading">Apakah ada syarat untuk bergabung?</h3>
                    <p class="mt-4 text-gray-500">Untuk comebcak journey program Content creator dan Penulis, tidak ada persyaratan. Semua Ibu yang berminat dan berkomitmen bisa bergabung. Namun untuk program Ibu Pebisnis, Ibu diharapkan sudah menyelesaikan Sertifikasi Ibupreneur sebelum mendaftar.</p>
                </li>
                <li class="px-6 py-8 bg-gray-50 rounded-xl">
                    <h3 class="text-2xl font-semibold font-heading">Apakah aku harus berkomitmen penuh selama 16 minggu?</h3>
                    <p class="mt-4 text-gray-500">Ibu diharapkan untuk berkomitmen untuk mengikuti semua program Comeback journey, karena ini menjadi syarat untuk mengikuti program Internship. Tapi terkadang menjadi Ibu banyak hal yang tidak bisa diprediksi, Ibu bisa mendapatkan ijin dari Ibu panitia jika ada hal mendesak yang membuat Ibu harus absen.</p>
                </li>
                <li class="px-6 py-8 bg-gray-50 rounded-xl">
                    <h3 class="text-2xl font-semibold font-heading">Apakah ada program beasiswa untuk pembelajaran gratis?</h3>
                    <p class="mt-4 text-gray-500">Ibu Punya Mimpi menyediakan beasiswa untuk Ibu yang kurang mampu, Ibu bisa menuliskan email 500 kata motivasi dan email ke  ibumina@Ibupunyamimpi.org lalu Ibu Mina akan memilih Ibu yang memiliki motivasi terbaik.</p>
                </li>
                <li class="px-6 py-8 bg-gray-50 rounded-xl">
                    <h3 class="text-2xl font-semibold font-heading">Apakah aku harus memiliki gadget terbaru untuk daftar?</h3>
                    <p class="mt-4 text-gray-500">Kelas Ibu Punya Mimpi adalah kelas hybrid yang bisa diikuti dimana saja asal ada jaringan internet, jadi Ibu bisa mengakses dengan gadget yang sudah Ibu miliki.</p>
                </li>
            </ul>
        </div>
    </div>
  </section>

  <section class="pt-20">
    <div class="max-w-3xl mx-auto mb-12 lg:mb-20 text-center">
      <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Ibu punya pertanyaan atau keraguan lain? Silahkan kontak Ibu Mina</h2>
      <h3 class="mb-4 text-2xl font-semibold font-heading">whatsapp: 0821 2527 7541</h3>
    </div>

  </section>

  </div>

  <script>    
    function scrollToSection(id) {
      const element = document.getElementById(id);
      element.scrollIntoView({ behavior: 'smooth' });
    }

</script>
{% endblock %}
