{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-7">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Order Ibu</h1>
      <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Banh mi cornhole echo park skateboard authentic crucifix neutra tilde lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee</p> -->
    </div>
   
   

    <div class=" w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Order #</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Tanggal</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Jumlah</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td class="px-4 py-3">{{ order.reference_number }}</td>
              <td class="px-4 py-3">{{ order.ordered_date }}</td>
              <td class="px-4 py-3">{{ order.get_order_total }}</td>
              <td class="px-4 py-3 text-lg text-gray-900">{% if order.paid %}PAID{% else %}{{ order.payments.last.payment_status}}{% endif %}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">Ibu belum memiliki order</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

  

{% endblock content %}

<!-- <h5 class="card-title">Your orders</h5>
  <div class="site-blocks-table">
    <table class="table">
      <thead>
        <tr>
          <th>Reference No.</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>
              <a href="">#{{ order.reference_number }}</a>
            </td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.get_order_total }}</td>
            <td>
              {% if order.paid %}Paid{% else %}{{ order.payments.last.payment_status}}{% endif %}
            </td>            
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">You haven't made any orders</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->
