{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container mx-auto"> 
    <div class="py-9 px-4 md:px-6 py-12 w-full">
        <div class="">
            <h1 class="text-3xl lg:text-4xl leading-4 lg:leading-9 font-semibold text-gray-800 mt-2">Shopping Cart</h1>
        </div>
        <div class="flex lg:flex-row flex-col space-y-8 lg:space-y-0">
            <div class="md:w-full">

            {% for item in order.order_items.all %}
                <div class="w-full flex flex-col md:flex-row items-strech mt-10 md:mt-14 lg:mt-16 pb-12 border-gray-200 border-b">
                    <div class="flex justify-end md:hidden">
                        <a href="{% url 'order:remove-from-cart' item.id %}" class="mt-2">
                            <img src="{% static 'images/shopping-cart-3-svg1.svg' %}" alt="cross" />
                            <!-- <img class="dark:block hidden"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-3-svg1dark.svg" alt="cross" /> -->
                        </a>
                    </div>
                    <div class="flex justify-center">
                        <img class="object-center object-cover" src="{{ item.course.thumbnail.url }}" alt="{{ item.course.name }}" role="img" />
                    </div>
                    <div class="md:flex hidden w-full justify-between md:ml-6">
                        <div class="w-full">
                            <div class="flex flex-row justify-between">
                                <div class="flex justify start">
                                    <p class="text-2xl font-semibold leading-normal text-gray-800 ">{{ item.course.name }}</p>
                                </div>
                                <div class="flex justify-end">
                                    <a aria-label="Cancel product" href="{% url 'order:remove-from-cart' item.id %}" class="mt-2 focus:outline-none focus:ring-2 focus:ring-gray-800 rounded">
                                         <img src="{% static 'images/shopping-cart-3-svg1.svg' %}" alt="cross" />
                                         <!-- <img class="dark:block hidden"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-3-svg1dark.svg" alt="cross" /> -->
                                    </a>
                                </div>
                            </div>
                            {% if item.course.discount_pct > 0 %}
                                <p class="text-base leading-none text-gray-800 mt-4">{{ item.course.get_price }}</p>
                                <p class="text-base leading-none text-red-600 mt-4">Discount: {{ item.course.get_discount_pct }}</p>
                            {% endif %} 
                            <div class="mt-20 flex w-full items-center justify-between">
                                <div class="w-full flex flex-col h-full md:flex-row justify-between">
                                    <div class="flex justify-start">
                                        
                                    </div>
                                    <div class="hidden md:block flex justify-end">
                                        <p class="md:mt-3 text-gray-800 text-right"><span class="text-xl leading-tight text-gray-800"></span><span class="text-xl font-medium">{{ item.course.get_discount_price }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="flex flex-col md:hidden">
                        <div class="flex items-center justify-between">
                            <div>
                                <h2 class="mt-1 text-2xl font-semibold leading-6 text-gray-800">{{ item.course.name }}</h2>
                            </div>
                        </div>
                        {% if item.course.discount_pct > 0 %}
                            <p class="mt-4 w-11/12 text-base leading-4 text-gray-600">{{ item.course.get_price }}</p>
                            <p class="mt-4 w-11/12 text-base leading-4 text-red-600">Discount: {{ item.course.get_discount_pct }}</p>
                        {% endif %} 
                        <div class="flex items-center justify-end mt-6">
                            <div>
                                <p class="mt:mt-3 text-gray-800 text-right"><span class="text-xl leading-5 text-gray-800"></span><span class="text-xl leading-5 font-medium">{{ item.course.get_discount_price }}</span></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
                

            </div>
            <div class="flex justify-center items-center flex-col-reverse md:flex-row md:mt-28 mt-20 w-full">
                <div class="w-full md:w-9/12 lg:w-9/12 p-4 md:p-10 bg-gray-50">
                    <p class="text-2xl font-semibold leading-normal text-gray-800 ">Order Summary</p>
                    <!-- <p class="text-base leading-4 lg:leading-none text-gray-600 mt-10">Items: {{ order.get_order_item_count }}</p> -->
                    <div class="flex items-center justify-between mt-14">
                        <h3 class="text-base font-medium leading-none text-gray-800 ">Subtotal</h3>
                        <p class="text-base font-medium leading-none text-gray-800 ">{{order.get_order_subtotal}}</p>
                    </div>
                    <div class="flex items-center justify-between mt-10">
                        <form method="post" name="promo-code">
                            {% csrf_token %}
                            <div class="py-5">
                                <label for="promo-code" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
                                <input type="text" id="promo-code" name="promo-code" placeholder="Enter your code" class="p-2 text-sm w-full">
                            </div>
                            <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white rounded">Apply</button>
                          </form>
                          
                    </div>
                    {% if order.coupon %}
                          <div class="border-t mt-8">
                            <div class="flex font-semibold justify-between pt-6 text-sm">
                              <span>PROMO '{{ order.coupon.code }}'</span>
                              <span>-{{ order.coupon.get_amount }}</span>
                            </div>
                          </div>
                    {% endif %}
                    <div class="flex items-center justify-between mt-24">
                        <h3 class="text-xl font-semibold leading-tight text-gray-800">Total Price</h3>
                        <p class="text-2xl font-semibold text-gray-800">{{ order.get_order_total }}</p>
                    </div>
                    <a href="{% url 'order:payment' %}"><button class="focus:outline-none hover: focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 w-full mt-4 bg-red-500 text-base font-medium leading-none text-gray-50 hover:bg-red-600 py-5 focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 rounded">Checkout</button></a>
                    <!-- <a href="{% url 'order:payment' %}" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Checkout</a> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}