{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="max-w-2xl container px-5 py-24 mx-auto flex flex-wrap items-center">
    {% if not request.user.is_authenticated %}
    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">You are nearly finished with your order</h2>
    <p class="text-m text-gray-900 mt-3">To finalize your order, please <a>Login</a> or <a>Signup</a></p>
    {% else %}
    <div class="bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Payment Options</h2>
      <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Pay with Flip.ID</button>
      <p class="text-m text-gray-900 mt-3">Direct Bank Transfer</p>
      <p class="leading-7 text-sm text-gray-600">Bank Account Number: 09034823749823</p>
      <form method="post" name="bank-transfer">
        {% csrf_token %}
        <div class="relative mb-4">
            <input type="hidden" name="bank-transfer" value="bank-transfer">
        </div>
        <button type="submit" class="w-full text-gray-100 bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg">
        Bank Transfer Complete</button>
      </form> 
      <form method="post" name="payment-code">
        {% csrf_token %}
        <div class="relative mb-4">
            <label for="payment-code" class="leading-7 text-sm text-gray-600">Payment Code</label>
            <input id="payment-code" name="payment-code" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button class="w-full text-gray-100 bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg">
        Submit Payment Code</button>
      </form> 
      <p class="text-xs text-gray-500 mt-3">Use TESTCODE in the field above</p>
    </div>
    {% endif %}
  </div>
</section>

{% endblock content %}

    {% comment %} <form method="post" name="get_course" class="flex ml-auto">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{course.id}}">
        <button type="submit" class=" text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">
        Get Course</button>
    </form>  {% endcomment %}