{% extends "account/email/base.html" %}

{% block content %}
    <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">Payment Successful!</h1>
	<p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Your order payment has been completed, check out the new content in your library!</p>
	<p style="margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"><a href="https://ibupunyamimpi.org/learn/library/" style="color:#ee4c50;text-decoration:underline;">Content Library</a></p>
    <p style="margin:12px 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">- Ibu Mina @ Ibu Punya Mimpi</p>
{% endblock %}