<div class="mb-4">
    <h2 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"></h1>
    <h3 class="mb-6 text-2xl font-semibold ">{{ course_list.count }} Kursus</h3>
  </div>

<div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
    {% for course in course_list %}
        <div class="p-4 md:w-1/2 sm:mb-0 mb-6">
            <div class="rounded-lg h-64 overflow-hidden">
            <a href="{% url 'content:course-detail' course.slug %}">
                <img alt="content" class="object-cover object-center h-full w-full" src="{{ course.thumbnail.url }}">
            </a>
            </div>
            <h2 class="text-xl font-medium title-font text-gray-900 mt-5">{{ course.name }}</h2>
            <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ course.course_type }}</h2>
            {% if course.event_datetime %}
                <p class="text-base leading-relaxed mt-2">{{ course.event_datetime|date }} at {{ course.event_datetime|time }}</p>
            {% endif %}
            <p class="text-base leading-relaxed mt-2">{{ course.description }}</p>
            <a href="{% url 'content:course-detail' course.slug %}" class="text-red-500 inline-flex items-center mt-3">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
            </a>
        </div>
    {% endfor %}

</div>
