{% load filter_tag %}

<a href="{{ content.get_absolute_url }}">
  {% if content.id == current_content.id %}

    <div class="flex relative pb-12">
      <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-10 h-10 rounded-full bg-red-500 inline-flex items-center justify-center text-white relative z-10">
       {% if request.user|content_record_complete:content %}
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
          <path d="M22 4L12 14.01l-3-3"></path>
        </svg>
        {% else %}
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
        </svg>
        {% endif %}
      </div>
      <div class="rounded-lg w-full" style="background-color: #EBEBEB;">
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">{{ content.order }}.
            {{ content.title }}</h2>
          <p class="leading-relaxed">{{ content.duration }}</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="flex relative pb-12">
      <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-10 h-10 rounded-full bg-red-500 inline-flex items-center justify-center text-white relative z-10">
        {% if request.user|content_record_complete:content %}
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
          <path d="M22 4L12 14.01l-3-3"></path>
        </svg>
        {% else %}
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
        </svg>
        {% endif %}
      </div>
      <div class="flex-grow pl-4">
        <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">{{ content.order }}.
          {{ content.title }}</h2>
        <p class="leading-relaxed">{{ content.duration }}</p>
      </div>
    </div>
  {% endif %}
</a>
