{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    
<section class="relative py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-md mx-auto py-6 lg:py-12 px-4 lg:px-8 bg-white border rounded-xl text-center">
        
        <h3 class="mb-12 text-3xl font-semibold font-heading">Ganti Password</h3>
        <p class="text-sm text-gray-500 mb-5">
            <span>{% translate "Apakah anda lupa password? Masukan alamat e-mail anda dibawah ini, dan kami akan kirim e-mail untuk mengganti password anda." %}</span>
          </p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="w-full inline-block py-4 mb-4 text-sm text-white font-medium leading-normal bg-red-400 hover:bg-red-300 rounded transition duration-200" type="submit" value="{% translate 'Reset My Password' %}" />
        </form>
        <p class="text-sm text-gray-500">
          <span>Silahkan kontak Ibu Mina jika anda punya masalah dengan akun anda.</span>
        </p>
      </div>
    </div>
  </section>

  {% endblock %}

  class="w-full inline-block py-4 mb-4 text-sm text-white font-medium leading-normal bg-red-400 hover:bg-red-300 rounded transition duration-200"
