{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verifikasi E-mail Anda" %}{% endblock %}

{% block inner %}
<h1>{% translate "Verifikasi E-mail Anda" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}Pada halaman ini, alamat e-mail anda sudah harus terverifikasi untuk memastikan alamat e-mail anda benar. {% endblocktranslate %}</p>

<p>{% blocktranslate %}Kami telah mengirimkan e-mail untuk proses verifikasi. Klik link pada e-mail yang kami kirimkan. Silahkan kontak Ibu Mina jika anda belum menerima e-mail tersebut dalam beberapa menit kedepan.{% endblocktranslate %}</p>

<p>{% blocktranslate %}<strong>Note:</strong> anda masih bisa <a href="{{ email_url }}">mengganti alamat e-mail</a>.{% endblocktranslate %}</p>
{% endblock %}
