{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verifikasi e-mail anda" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Verifikasi e-mail anda" %}</h1>

    <p>{% blocktranslate %}Kami sudah mengirimkan em-mail untuk memverifikasi e-mail anda. Klik link yang kami kirimkan pada e-mail untuk melanjutkan proses pendaftaran. Silahkan kontak Ibu Mina jika anda belum menerima e-mail dalam beberapa menit kedepan.{% endblocktranslate %}</p>

{% endblock %}
